@tailwind base;
@tailwind components;
@tailwind utilities;

/* HERO BACKGROUND ANIMATION */
/* @keyframes heroZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-heroZoom {
  animation: heroZoom 20s ease-in-out infinite alternate;
} */
